[mysqld]
user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
socket                  = /run/mysqld/mysqld.sock
port                    = 3311
datadir                 = /var/lib/mysql
bind-address            = 0.0.0.0